version: "3"

services:
  remo-exporter:
    ports:
      - 9470:9470
    image: kenfdev/remo-exporter:latest 
    environment:
      - OAUTH_TOKEN=${REMO_OAUTH_TOKEN}
  prom:
    image: quay.io/prometheus/prometheus:v2.0.0
    volumes:
     - ./prometheus.sample.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus"
    ports:
     - 9090:9090
    depends_on:
     - remo-exporter
  grafana:
    image: grafana/grafana
    ports:
     - "3000:3000"
    depends_on:
      - prom